html, body, div, span, video, audio, img, form, input, output {
    margin:0;
    padding:0;
}

html, body {
    font-family: "Helvetica", sans-serif;
    font-size:100%;
    background-color:black;

    cursor: none;
}

#menu {
    position:absolute;
    width:100%;
    z-index:1000;
    background-color:gold;
    padding:12px;

    cursor: default;
}

.menu-item {
    margin-right:24px;
    display:inline-block;
}

.show-element {
    display:block;
}

.hide-element {
    display:none;
}

#video-player, #audio-wrapper {
    z-index:1;
}

img, video {
    position: absolute;
    bottom: 50%; 
    right: 50%;
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto;
    overflow: hidden;
}


